token: {{ token }}
write-kubeconfig-mode: "0644"

{# Only add tls-san if a VIP was provided #}
{% if k3s_api_vip is defined and (k3s_api_vip | string | length > 0) %}
tls-san:
  - "{{ k3s_api_vip }}"
{% endif %}

{% if inventory_hostname == groups['masters'][0] %}
cluster-init: true
{% else %}
{# If joining other masters, prefer VIP if set, otherwise join first master #}
server: "https://{{ (k3s_api_vip | default(hostvars[groups['masters'][0]].ansible_host | default(groups['masters'][0]))) }}:{{ k3s_api_port | default(6443) }}"
{% endif %}

disable:
  - servicelb
  - traefik
