---
- name: Enable IPv4 forwarding
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: true

- name: Enable IPv6 forwarding
  ansible.builtin.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    state: present
    reload: true

- name: install nfs-common on the servers
  ansible.builtin.package:
    name: nfs-common
    state: present

- name: Download k3s binary x64
  ansible.builtin.get_url:
    url: https://github.com/k3s-io/k3s/releases/download/{{ k3s_version }}/k3s
    checksum: sha256:https://github.com/k3s-io/k3s/releases/download/{{ k3s_version }}/sha256sum-amd64.txt
    dest: /usr/local/bin/k3s
    owner: root
    group: root
    mode: 0755
  when: ansible_facts.architecture == "x86_64"

- name: Check if the token file already exists
  ansible.builtin.stat:
    path: /var/lib/rancher/k3s/server/node-token
  register: token_file_stat
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true

- name: Generate K3s token on first master (if needed)
  ansible.builtin.command: /usr/local/bin/k3s token generate
  register: k3s_token
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true
  when: not token_file_stat.stat.exists

- name: Generate K3s token
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true
  when:
    - inventory_hostname in groups['masters']
    - inventory_hostname == groups['masters'][0]
    - not token_file_stat.stat.exists

  block:
    - name: generate token
      ansible.builtin.shell: |
        /usr/local/bin/k3s token generate
      register: k3s_token

    - name: Store Master node-token
      ansible.builtin.set_fact:
        token: "{{ k3s_token.stdout | split('.') | last }}"

- name: Set is_primary_master fact
  set_fact:
    is_primary_master: "{{ inventory_hostname == groups['masters'][0] }}"

- name: Create K3s config directory
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"

- name: Read node-token from first master
  ansible.builtin.slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token_slurp
  delegate_to: "{{ groups['masters'][0] }}"
  run_once: true
  when: token is not defined

- name: Set token fact for all hosts
  ansible.builtin.set_fact:
    token: "{{ (node_token_slurp.content | b64decode).strip() }}"
  when:
    - node_token_slurp is defined
    - node_token_slurp.content is defined

- name: Include Master tasks
  ansible.builtin.include_tasks: master.yml
  when:
    - "'masters' in group_names"
    - token is defined

- name: Include Workers tasks
  ansible.builtin.include_tasks: workers.yml
  when:
    - "'workers' in group_names"
    - token is defined
