apiVersion: batch/v1
kind: CronJob
metadata:
  name: restart-radarr
  namespace: media
spec:
  schedule: "15 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: kubectl
              image: bitnami/kubectl
              command:
                - kubectl
                - rollout
                - restart
                - deployment/radarr
          restartPolicy: OnFailure
