apiVersion: batch/v1
kind: CronJob
metadata:
  name: restart-sab
  namespace: media
spec:
  schedule: "0 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: kubectl
              image: bitnami/kubectl
              command:
                - kubectl
                - rollout
                - restart
                - deployment/sabnzbd
          restartPolicy: OnFailure
