apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: sonarr
          image: ghcr.io/hotio/sonarr
          imagePullPolicy: IfNotPresent
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: UMASK
              value: "002"
            - name: TZ
              value: "America/Los_Angeles"
          ports:
            - containerPort: 8989
          readinessProbe:
            httpGet:
              path: /
              port: 8989
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8989
            initialDelaySeconds: 60
            periodSeconds: 20
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media-root
              mountPath: /export
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sonarr-config
        - name: media-root
          persistentVolumeClaim:
            claimName: nfs-export-root
