---
- name: Install cert-manager
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: cert-manager
    release_namespace: cert-manager
    create_namespace: true
    chart_repo_url: https://charts.jetstack.io
    release_state: present
    chart_version: "{{ cert_manager_version }}"
    kubeconfig: "{{ kubeconfig_yaml }}"
    values:
      crds:
        enabled: true
    wait: true
    wait_timeout: 600s

- name: Create Cloudflare API Token Secret
  kubernetes.core.k8s:
    state: present
    namespace: cert-manager
    kubeconfig: "{{ kubeconfig_yaml }}"
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: cloudflare-api-token-secret
      stringData:
        api-token: "{{ cloudflare_api_token }}"
  when:
    - cert_manager_create_cloudflare_secret | bool
    - cloudflare_api_token | length > 0
