apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-export-root
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
  volumeName: nfs-export-root
