apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-data
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: replace-me
  resources:
    requests:
      storage: 2Gi
