apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-infra
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  project: default
  source:
    repoURL: https://github.com/shawnifoley/home-stack.git
    targetRevision: main
    path: k8s/infra
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
